.uni_toppers{
  overflow: hidden;
  height: 22rem;
  white-space: nowrap;
  width: 90%;
  margin: 0 5%;
  margin-top: 2rem;

}

.div1 {
  width:100%;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.div2 {
  width:100%;
  display: inline-block;
  animation: marquee2 20s linear infinite;
  animation-delay: 10s;
}


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}





.col-sm-3 {
  width: 23%;
  margin: 0 1%; 
  height:150px;
  float:left;
}




.section-features3 {
    padding: 10rem 0 10rem;
    transform: scale(0.67);
    background-image: linear-gradient(to right bottom, rgba(37, 190, 255, 0.8), rgba(86, 67, 250, 0.8));
    background-size: cover;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    margin-top: -10rem;
}

.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 20rem;
    border-radius: 25px;
    border: none;
    white-space: normal !important;
}

.card__side {
    height: 20rem;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
    background-color: #fff
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card__side--back-1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)
}

.card__side--back-2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.card__side--back-3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa)
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.card__picture {
    position: relative;
    background-size: cover;
    height: 10.5rem;
    background-blend-mode: screen;
    border-radius: 50%;

}

.card_img{
    height: 9rem !important;
    padding: 1px;
    border: 1px black solid;
    border-radius: 50%;
}

.card__picture--1 {
    background-image: url(elephant.jpg)
}



.card__picture--3 {
    background-image: url(elephant.jpg)
}

.card__heading {
    font-size: 2.4rem !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    text-align: right;
    color: #fff !important;
    position: relative;
    right: 1rem;
    width: 75%;
    margin: 0.5rem;
    margin-bottom: 0;
}

.card__heading-span {
    padding: 0.5rem 1.8rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.card__heading-span--1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__heading-span--3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85))
}

.card__details {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    font-size: 2rem;
    color: black;
    line-height: 2.2rem;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: 4.4rem;
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto !important;
}

.card__details ul li {
    text-align: center;
    font-size: 2rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee
}

.card__cta {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center
}

.card__quote-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem
}

.card__quote-only {
    font-size: 1.4rem;
    text-transform: uppercase
}

.card__quote-value {
    font-size: 6rem;
    font-weight: 100
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card__side {
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .card__side--back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%)
    }

    .card:hover .card__side--front {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }

    

    .card__cta {
        position: relative;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}



.btn_fill_:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn_fill_:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}

.btn_fill_:active, .btn_fill_:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn_fill_--white {
    background-color: #fff;
    color: #777
}

.btn_fill_--white::after {
    background-color: #fff
}

.btn_fill_::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn_fill_--animated {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.btn_fill_-text:link, .btn_fill_-text:visited {
    font-size: 2rem;
    color: #4FC9FD;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #4FC9FD;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.btn_fill_-text:hover {
    background-color: #4FC9FD;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn_fill_-text:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.btn_fill_1, .btn_fill_1:link, .btn_fill_1:visited {
    transform: skewY(7deg);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15rem;
    margin-bottom: 5rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer
}

.btn_fill_1:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transform: skewY(7deg);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn_fill_1:hover::after {
    transform: skewY(7deg);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}

.btn_fill_1:active, .btn_fill_1:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px) skewY(7deg);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn_fill_1--white {
    background-color: #fff;
    color: #777
}

.btn_fill_1--white::after {
    background-color: #fff
}

.btn_fill_1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn_fill_1--animated {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.btn_fill_1-text:link, .btn_fill_1-text:visited {
    transform: skewY(7deg);
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.btn_fill_1-text:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn_fill_1-text:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.btn_fill_, .btn_fill_:link, .btn_fill_:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20rem;
    margin-top: 4rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer
}

.btn_fill_:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn_fill_:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}

.btn_fill_:active, .btn_fill_:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn_fill_::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn_fill_--animated {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}



.btn_fill_-text:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn_fill_-text:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.social_handles{
    position: absolute;
    display: block;
    width: 100%;
    font-size: 5rem;
    text-decoration: none;
    top:15rem;
    left: 50%;
    transform: translateX(-50%);

}
.fab{
    text-decoration: none;
    color: #0F0320;
    transition: all .5s;
    margin-left: 1rem;
}
.fab:hover{
    color: #fff;
}
@media(max-width: 600px){
    .social_handles{
        top:4rem;
        font-size: 4rem;
    }
}