footer{
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 0;
    margin: 0;
    
    position: relative;
}


.overlay{
    top: 0vh;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    transform: skewY(0);
}

.pictlogo{
    position: absolute;
    right: 2vw;
    width: 6vw;
}

.logo_footer_begin{
    position: relative;
    width: 22vw;
    left: 39vw;
    transition: transform 1s;
    animation: transform 0.4s infinite;
    opacity: 1;
}

.logo_div{
    width: 100%;
    text-align: center;
}

.vline{
    height: 11vw;
    display: inline-block;
    position: relative;
    top: -2.5vw;
    margin: 0;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 1px;
}

.logo_footer{
    position: relative;
    display: inline-block;
    width: 12vw;
    margin: 3rem 2rem;
    opacity: 1;
    transition: transform 1s;
}

.logo_footer:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition: transform 1s;
    opacity: 1;
}

.footer_col{
    position: relative;
    display: inline-block;
    width: 48%;
    text-align: center;
    color: white;
    font-size: 2.6rem;
}

.footer_links{
    color: #bfbfbf;
    text-decoration: none;
}

.footer_links:hover{
    color: #ffffff;
    text-decoration: none;
}

.social{
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.social_icons{
    background-color: black;
    position: relative;
    display: inline-block;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    width: 3.5%;
    border-radius: 50%;
    filter: invert(100%);
    transition: all 0.2s;
}

.social_icons:hover{
    filter: invert(0%);
    transition: all 0.2s;
}

.copyright{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}